# In VS Code add the following command line arguments for clangd:
# --compile-commands-dir=build
# --enable-config
# --clang-tidy
# --header-insertion=never

CompileFlags:
  Add: [-Wall, -Wextra]
  Compiler: clang++
  CompilationDatabase: build

Index:
  Background: Skip
  StandardLibrary: No

Style:
  FullyQualifiedNamespaces: No

Diagnostics:
  ClangTidy:
    Add: []
    Remove: []
  UnusedIncludes: Strict
  MissingIncludes: None

Completion:
  AllScopes: No

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: No
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
